<!DOCTYPE hmtl>

<html>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/chart.css">

<div class="navbar">
  <a class="active" href="http://localhost:3000/getdata" style="color:rgb(31.25, 162.26, 222.11)"><i class="fa fa-fw fa-home"></i> Home</a> 
  <a href="http://localhost:3000/makeannouncement" style="color:black"><i class="fa fa-fw fa-bullhorn" ></i> Make announcment</a> 
  <a href="#" style="color:black"><i class="fa fa-fw fa-envelope"></i> Contact</a> 
  <script>
  window.document.write('<a href="http://localhost:3000/Login/login.html" style="color:black"><i class="fa fa-fw fa-user"></i> Logout ' + window.sessionStorage.getItem("username") + ' </a> ');
  </script>
  <a href="https://cloud.mongodb.com/v2/5e8009e99ad2b345aca1adf4#clusters" style="color:black"><i class="fa fa-fw fa-database"></i> Go to Mongo Database</a> 
</div>
  
</body>
</html> 
